<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>2023_ai-tech_2222015'sAPP</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            body {
                padding-top: 50px;
                background-color: lightgray;
            }

            .starter-template {
                padding: 40px 15px;
                background-color: white;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="starter-template">
                <h2>太鼓の達人 収録曲 - おすすめ曲 掲示サイト</h2>
                <div class="border-top">
                    <p></p>
                    <p class="lead">なにができるの？</p>
                    <p class="font-weight-bold">・検索した譜面と同じぐらいのレベルの曲をおすすめしてくれる！</p>
                    <p class="font-weight-bold">・おすすめ曲のテンポ、演奏時間、攻略サイトなども教えてくれる！</p>
                    <p>※ 現段階検証のためおに★5~10までの検索範囲です</p>
                    <p>※ おすすめ曲は10曲掲示されます</p>


                </div>
                <div class="border-top">
                    <p></p>
                    <p class="lead">譜面検索</p>

                    <form action="/" method="POST">
                        <input type="text" name="title" class="form-control" placeholder="曲名を入力", list="song_title">
                        <datalist id="song_title">
                            {% block content %}
                            {% endblock %}
                        </datalist>
                        <p></p>

                        <div class="section1 text-center">
                            <input type="submit" name="s" class="btn btn-warning" value="検索">
                        </div>   
                        <p></p>
                    </form>
                </div>
                <div class="border-top">
                    {% if data %}
                    <div class="section1 text-center">
                        <p class="font-weight-bold">【検索結果】</p>
                        <p>曲名をクリックすると攻略サイトに飛べます</p>
                        <p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">おすすめ度</th>
                                        <th scope="col">曲名</th>
                                        <th scope="col">コンボ数</th>
                                        <th scope="col">演奏時間(秒)</th>
                                        <th scope="col">平均密度(打/秒)</th>
                                        <th scope="col">平均BPM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for d in data%}
                                    <tr>
                                      <th scope="row">{{loop.index}}位</th>
                                      <td><a href={{d[6]}} target="_blank">{{d[0]}}</a></td>
                                      <td>{{d[1]}}</td>
                                      <td>{{d[2]}}</td>
                                      <td>{{d[3]}}</td>
                                      <td>{{d[4]}}</td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </p>
                    </div>

                    {% else %}
                    <div class="section1 text-center">
                        <p class="font-weight-bold">検索結果はありません</p>
                    </div>

                    {% endif %}
                </div>
                
                
                
        
            </div>
            <div class="section1 text-center">
                <a class="btn btn-primary" href="#">Topに戻る</a>
            </div>   

        </div>




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>